* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.nav-pills .nav-link.active {
    background-color: #ffffff !important;
}

#tabsJustified li a.active .black-image {
    display: none;
}

#tabsJustified li a.active .white-image {
    display:initial !important;
}

#tabsJustified {
    margin-left: 6.364%;
    margin-right: 6.364%;
    margin-top: 51px;
    flex-wrap: nowrap !important;
}

#tabsJustified li a {
    padding: 12px;
    color: #200E32;
    min-width: 158px;
}

#tabsJustified li .cat.active {
    background: #615EFF !important;
    color: white;
    border-radius: 10px !important;
}

#style-2::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 4px;
    height: 4px;
    border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(97, 94, 255, 1);
}

.table td, .table th {
    border-top: none !important;
}

.tbl-even tr:nth-child(even) {
    background-color: #F9F9FF;
}

.tbl-even tr td:last-child {
    text-align: right !important;
}

.tbl-even tr:nth-child(even) td:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.tbl-even tr:nth-child(even) td:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.tbl-signer {
    border: 1px solid #D1D1D1; 
    border-collapse: collapse;
    margin-top: 15px;
}

.tbl-signer tr td {
    padding: 0;
    height: 62px;
}

.tbl-same {
    min-width: 670px;
    margin-bottom: 10px !important;
}

.tbl-same tbody tr td {
    width: 25%;
}

.tbl-same-div {
    margin-top: 21px;
    padding: 5px !important;
    border-radius: 10px; 
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.03);
    background-color: white;
}

.tbl-43 {
    width: 100% !important;
}

.tbl-43 thead tr {
    background-color: white;
}

.tbl-43 thead tr td:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.tbl-43 thead tr td:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.tbl-43 tr td {
    padding: 17px;
}

.Remarque-Signature-table {
    min-width: 650px;
}

.Remarque-Signature-table tr td {
    vertical-align: middle;
    font-weight: 400;
}

.Remarque-Signature-table tbody tr td {
    background-color: white;
}

.Remarque-Signature-table tbody tr td:first-child {
    padding-left: 37px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Remarque-Signature-table tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.select-person-table tbody tr td {
    vertical-align: middle;
}

.select-person-table tbody tr:hover td {
    background: rgba(97, 94, 255, 0.06);
}

.selected-row {
    background: #ECF7EA !important;
}

.sbar {
    background: #F0F1F3 !important;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.sbar button {
    background: #F0F1F3 !important;
}

.sbar-input {
    text-align: left !important;
    height: 100% !important;
    background: #F0F1F3 !important;
    border: none;
    outline: none;
    border-radius: 10px;
}

.sbar-input::placeholder {
    color: #B7B2BD;
}

.checkbox {
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: 5px;
    margin: 0;
    outline: none;
    transition: 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
}

.checkbox:checked {
    border: 1px solid #44B328;
    background-color: transparent;
}

.checkbox:checked:before {
    position: absolute;
    left: 2.5px;
    top: -0.5px;
    display: block;
    content: '\2713';
    text-align: center;
    color: #44B328;
    font-family: Arial;
    font-size: 10px;
    font-weight: 800;
}

.checkbox-lg {
    width: 30px !important;
    height: 30px !important;
}

.checkbox-lg:checked:before {
    font-size: 20px !important;
    left: 6px !important;
    top: -1px !important;
}

.checkbox-18 {
    width: 18px !important;
    height: 18px !important;
}

.checkbox-18:checked:before {
    top: 0px !important;
    left: 2.5px !important;
    font-size: 12px;
}

.checkbox-primary {
    width: 18px !important;
    height: 18px !important;
}

.checkbox-primary:checked:before {
    color: #615EFF !important;
    top: 0.5px !important;
    left: 3.5px !important;
}

.checkbox-primary:checked {
    border: 1px solid #615EFF !important;
}

.ddm-1 {
    min-width: 99px !important;
    height: 69px;
}

.ddm-1 img {
    position: absolute; 
    top: -7px; 
    right: 15px;
}

.ddm-1.show {
    top: 12px !important;
    left: -76px !important;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px 20px rgb(235, 235, 235, 0.25);
}

.ddm-1-data {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #14142B; 
    line-height: 26px; 
    font-size: 10px; 
    height: 34px;
    border-bottom: 1px solid rgba(209, 209, 209, 0.19);
}

.dropdown-item {
    padding: 0 !important;
    border-radius: 10px;
}

.ddm-2 {
    min-width: 99px !important;
    height: 69px;
}

.ddm-2 .poly {
    position: absolute; 
    top: -7px; 
    left: 15px;
}

.ddm-2.show {
    top: 35px !important;
    left: -10px !important;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px 20px rgb(235, 235, 235, 0.25);
}

.ddm-3 {
    min-width: 162px !important;
    height: 215px;
}

.ddm-3 img {
    position: absolute; 
    top: -7px; 
    right: 15px;
}

.ddm-3 li div label {
    margin-left: 5px;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.ddm-3 li div label, .ddm-3 div {
    font-family: 'Poppins';
    font-size: 10px;
}

.ddm-3.show {
    top: 40px !important;
    left: -130px !important;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px 20px rgb(235, 235, 235, 0.25);
}

.ddm-4 {
    min-width: 162px !important;
    height: 215px;
}

.ddm-4 img {
    position: absolute; 
    top: -7px; 
    right: 15px;
}

.ddm-4 li div label {
    margin-left: 5px;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.ddm-4 li div label, .ddm-3 div {
    font-family: 'Poppins';
    font-size: 10px;
}

.ddm-4.show {
    top: 28px !important;
    left: -49px !important;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px 20px rgb(235, 235, 235, 0.25);
}

.mr-28 {
    margin-right: 28px;
}

.active-row {
    background-color: white;
}

#expand-row {
    background-color: white;
}

.active-row td:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px;
}

.active-row td:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px;
}

.border-bottom-radius-10 td:first-child {
    border-bottom-left-radius: 0% !important;
}

.border-bottom-radius-10 td:last-child {
    border-bottom-right-radius: 0% !important;
}

#expand-row td:first-child {
    border-bottom-left-radius: 10px !important;
}

#expand-row td:last-child {
    border-bottom-right-radius: 10px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('./img/44/Calendar.png') no-repeat;
    width: 12px;
    height: 13px;
    margin: 0;
    justify-content: right;
}

#slct {
    color: #200E32; 
    height: 56px; 
    border-radius: 10px; 
    border: 1.5px solid #D1D1D1; 
    box-sizing: border-box;
}

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    width: 100%;
    box-shadow: none;
    color: #200E32; 
    height: 56px;
    padding-left: 1.25em;
    border-radius: 10px; 
    border: 1.5px solid #D1D1D1; 
    box-sizing: border-box;
}

.qr-sidebar div:hover {
    background: #F7F7FF;
    color: #615EFF !important;
}

.qr-sidebar div:hover div img.blue-img {
    display: block !important;
}

.qr-sidebar div:hover div img.black-img {
    display: none !important;
}

.qr-sidebar div.active {
    background: #F7F7FF;
}

.qr-sidebar div.active div {
    color: #615EFF !important;
}

.qr-sidebar div.active div img.blue-img {
    display: block !important;
}

.qr-sidebar div.active div img.black-img {
    display: none !important;
}

.qr-sidebar div {
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.qr-sidebar div div {
    color: #200E32;
}

.col-div {
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.col-div-6 {
    padding-top: 15px !important; 
    width: 47.4%; 
    flex: 0 0 47.4%; 
    max-width: 47.4%;
}

.date-range {
    width: 229px; 
    height: 54px; 
    border-radius: 10px; 
    color: #200E32;
    background: white;
}

.ptw-btn-44 {
    width: 224px; 
    height: 54px; 
    background: #615EFF; 
    border-radius: 9px;
}

.drag-drop {
    background: rgba(97, 94, 255, 0.05);
    border: 1.5px dashed rgba(97, 94, 255, 0.4);
    border-radius: 15px;
    position: relative;
}

.drag-file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.tous-les-documents-table {
    margin-bottom: 0 !important;
}

.tous-les-documents-table tbody tr {
    border-bottom: 1.5px solid rgba(209, 209, 209, 0.5);
}

.tous-les-documents-table tbody tr:last-child {
    border-bottom: none !important;
}

.tous-les-documents-table tbody tr td {
    background-color: white;
    vertical-align: middle !important;
}

.tous-les-documents-table tbody tr:first-child td:first-child {
    border-top-left-radius: 15px !important;
}

.tous-les-documents-table tbody tr:first-child td:last-child {
    border-top-right-radius: 15px !important;
}

.tous-les-documents-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px !important;
}

.tous-les-documents-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px !important;
}

.tc-grey {
    color: rgba(92, 87, 97, 0.5);
}

.fw-normal {
    font-weight: normal;
    color: #200E32;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fs-10 {
    font-size: 10px !important;
    line-height: 12px !important;
}

.fs-11 {
    font-size: 11px !important;
    line-height: 13px !important;
}

.fs-12 {
    font-size: 12px !important;
    line-height: 14px !important;
}

.fs-13 {
    font-size: 13px !important;
    line-height: 15px !important;
}

.fs-14 {
    font-size: 14px !important;
    line-height: 16px !important;
}

.fs-15 {
    font-size: 15px !important;
    line-height: 17px !important;
}

.fs-16 {
    font-size: 16px !important;
    line-height: 18px !important;
}

.fs-17 {
    font-size: 17px !important;
    line-height: 19px !important;
}

.fs-18 {
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width: 1505px) {
    .ddm-1.show {
        top: 12px !important;
        left: -22px !important;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 20px 20px rgb(235, 235, 235, 0.25);
    }
    
    .scroll-adj {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1450px) {
    .fs-10 {
        font-size: 9px !important;
        line-height: 11px !important;
    }

    .mr-28 {
        margin-right: 22px;
    }
    
    .fs-11 {
        font-size: 10px !important;
        line-height: 11.5px !important;
    }
    
    .fs-12 {
        font-size: 11px !important;
        line-height: 13px !important;
    }
    
    .fs-13 {
        font-size: 12px !important;
        line-height: 14px !important;
    }

    .fs-14 {
        font-size: 13px !important;
        line-height: 15px !important;
    }
    
    .fs-15 {
        font-size: 14px !important;
        line-height: 16px !important;
    }

    .fs-16 {
        font-size: 15px !important;
        line-height: 17px !important;
    }
    
    .fs-17 {
        font-size: 16px;
        line-height: 18px;
    }

    .fs-18 {
        font-size: 17px;
        line-height: 19px;
    }
}

@media screen and (max-width: 1280px) {

    .mr-28 {
        margin-right: 16px;
    }
    
    .fs-10 {
        font-size: 8px !important;
        line-height: 10px !important;
    }

    .fs-11 {
        font-size: 9px !important;
        line-height: 11px !important;
    }
    
    .fs-12 {
        font-size: 10px !important;
        line-height: 12px !important;
    }    

    .fs-13 {
        font-size: 11px !important;
        line-height: 13px !important;
    }

    .fs-14 {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    
    .fs-15 {
        font-size: 13px !important;
        line-height: 15px !important;
    }
    
    .fs-16 {
        font-size: 14px !important;
        line-height: 16px !important;
    }

    .fs-17 {
        font-size: 14px !important;
        line-height: 16px !important;
    }

    .fs-18 {
        font-size: 16px !important;
        line-height: 18px !important;
    }

}

@media screen and (max-width: 1245px) {
    .adjust-table {
        width: 100% !important;
    }
}

@media screen and (max-width: 890px) {

    .qr-sidebar div div.fs-12 {
        font-size: 8px !important;
        line-height: 10px !important;
    }

    .modal-dialog {
        max-width: 50% !important;
    }

    .mr-28 {
        margin-right: 10px;
    }
    
    .ptw-btn-44 {
        width: 160px;
    }

    .date-range {
        width: 165px;
    }
    
    .qr-sidebar div div img {
        width: 15.02px !important;
        height: 15px !important;
    }

    .col-div {
        width: 33% !important;
        flex: 0 0 33% !important;
        max-width: 33% !important;
    }

    .col-div-6 {
        width: 100%; 
        flex: 0 0 100%; 
        max-width: 100%;
    }
    
    .fs-10 {
        font-size: 8px !important;
        line-height: 10px !important;
    }
    
    .fs-11 {
        font-size: 8px !important;
        line-height: 10px !important;
    }
    
    .fs-12 {
        font-size: 9px !important;
        line-height: 11px !important;
    }    

    .fs-13 {
        font-size: 9px !important;
        line-height: 11px !important;
    }

    .fs-14 {
        font-size: 10px !important;
        line-height: 12px !important;
    }
    
    .fs-15 {
        font-size: 11px !important;
        line-height: 13px !important;
    }
    
    .fs-16 {
        font-size: 12px !important;
        line-height: 14px !important;
    }

    .fs-17 {
        font-size: 13px !important;
        line-height: 15px !important;
    }

    .fs-18 {
        font-size: 14px !important;
        line-height: 16px !important;
    }

}